

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Number &mdash; amoshyc&#39;s 題解</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../../_static/css/mine.css" type="text/css" />
  

  
    <link rel="top" title="amoshyc&#39;s 題解" href="../../index.html"/>
        <link rel="up" title="7. Template" href="../template.html"/>
        <link rel="next" title="快速冪" href="fast_pow.html"/>
        <link rel="prev" title="重複組合 H" href="../dp/repeat_combination.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> amoshyc's 題解
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../tutorials/tutorials.html">1. 常用演算法教學</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cf/cf.html">2. CF (Codeforces)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../poj/poj.html">3. POJ (PKU Online Judge)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../uva/uva.html">4. UVA (UVa Online Judge)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../ptc/ptc.html">5. PTC (PTC &amp; ITSA)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../other/other.html">6. Other</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../template.html">7. Template</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../ds/index.html">Data Structure</a></li>
<li class="toctree-l2"><a class="reference internal" href="../graph/index.html">Graph</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tree/index.html">Tree</a></li>
<li class="toctree-l2"><a class="reference internal" href="../dp/index.html">DP</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Number</a><ul>
<li class="toctree-l3"><a class="reference internal" href="fast_pow.html">快速冪</a></li>
<li class="toctree-l3"><a class="reference internal" href="build_primes.html">質數表</a></li>
<li class="toctree-l3"><a class="reference internal" href="extgcd.html">Extgcd</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../string/index.html">String</a></li>
<li class="toctree-l2"><a class="reference internal" href="../search/index.html">Search</a></li>
<li class="toctree-l2"><a class="reference internal" href="../other/index.html">Other</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../tags.html">8. Tags</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">amoshyc's 題解</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../template.html">7. Template</a> &raquo;</li>
      
    <li>Number</li>
      <li class="wy-breadcrumbs-aside">
        
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="number">
<h1>Number<a class="headerlink" href="#number" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="fast_pow.html">快速冪</a></li>
<li class="toctree-l1"><a class="reference internal" href="build_primes.html">質數表</a></li>
<li class="toctree-l1"><a class="reference internal" href="extgcd.html">Extgcd</a></li>
</ul>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="fast_pow.html" class="btn btn-neutral float-right" title="快速冪" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../dp/repeat_combination.html" class="btn btn-neutral" title="重複組合 H" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016, amoshyc.
      Last updated on May 12, 2016.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>