

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>多重背包可行性 &mdash; amoshyc&#39;s 題解</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../../_static/css/mine.css" type="text/css" />
  

  
    <link rel="top" title="amoshyc&#39;s 題解" href="../../index.html"/>
        <link rel="up" title="DP" href="index.html"/>
        <link rel="next" title="Coin Change" href="coin_change.html"/>
        <link rel="prev" title="完全背包問題" href="knapsack_unbounded.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> amoshyc's 題解
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../tutorials/tutorials.html">1. 常用演算法教學</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cf/cf.html">2. CF (Codeforces)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../poj/poj.html">3. POJ (PKU Online Judge)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../uva/uva.html">4. UVA (UVa Online Judge)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../ptc/ptc.html">5. PTC (PTC &amp; ITSA)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../other/other.html">6. Other</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../template.html">7. Template</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../ds/index.html">Data Structure</a></li>
<li class="toctree-l2"><a class="reference internal" href="../graph/index.html">Graph</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tree/index.html">Tree</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">DP</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="knapsack_01.html">0/1 背包問題</a></li>
<li class="toctree-l3"><a class="reference internal" href="knapsack_bounded.html">多重背包</a></li>
<li class="toctree-l3"><a class="reference internal" href="knapsack_unbounded.html">完全背包問題</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">多重背包可行性</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#id2">程式碼</a></li>
<li class="toctree-l4"><a class="reference internal" href="#id3">模板驗證</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="coin_change.html">Coin Change</a></li>
<li class="toctree-l3"><a class="reference internal" href="cutting_sticks.html">Cutting Sticks</a></li>
<li class="toctree-l3"><a class="reference internal" href="lis.html">LIS</a></li>
<li class="toctree-l3"><a class="reference internal" href="tsp.html">TSP</a></li>
<li class="toctree-l3"><a class="reference internal" href="partition.html">分割數（整理拆分）</a></li>
<li class="toctree-l3"><a class="reference internal" href="repeat_combination.html">重複組合 H</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../number/index.html">Number</a></li>
<li class="toctree-l2"><a class="reference internal" href="../string/index.html">String</a></li>
<li class="toctree-l2"><a class="reference internal" href="../search/index.html">Search</a></li>
<li class="toctree-l2"><a class="reference internal" href="../other/index.html">Other</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../tags.html">8. Tags</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">amoshyc's 題解</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../template.html">7. Template</a> &raquo;</li>
      
          <li><a href="index.html">DP</a> &raquo;</li>
      
    <li>多重背包可行性</li>
      <li class="wy-breadcrumbs-aside">
        
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1><a class="toc-backref" href="#id4">多重背包可行性</a><a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h1>
<div class="sidebar">
<p class="first sidebar-title">Tags</p>
<ul class="last simple">
<li><code class="docutils literal"><span class="pre">tag_dp</span></code></li>
<li><code class="docutils literal"><span class="pre">tag_template</span></code></li>
</ul>
</div>
<div class="contents topic" id="toc">
<p class="topic-title first">TOC</p>
<ul class="simple">
<li><a class="reference internal" href="#id1" id="id4">多重背包可行性</a><ul>
<li><a class="reference internal" href="#id2" id="id5">程式碼</a></li>
<li><a class="reference internal" href="#id3" id="id6">模板驗證</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="id2">
<h2><a class="toc-backref" href="#id5">程式碼</a><a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<div class="highlight-default"><div class="highlight"><pre><span></span>當成 無限背包 來做，但另外記錄硬幣的使用個數。

bool dp[w] = 可不可以組出 w
int num[w] = 組出 w 需使用幾個 A[i] 硬幣
</pre></div>
</div>
<div class="highlight-cpp"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kt">int</span> <span class="n">N</span><span class="p">,</span> <span class="n">M</span><span class="p">;</span>
<span class="kt">int</span> <span class="n">A</span><span class="p">[</span><span class="mi">100</span><span class="p">];</span>
<span class="kt">int</span> <span class="n">C</span><span class="p">[</span><span class="mi">100</span><span class="p">];</span>
<span class="kt">bool</span> <span class="n">dp</span><span class="p">[</span><span class="mi">100000</span><span class="p">];</span>
<span class="kt">int</span> <span class="n">num</span><span class="p">[</span><span class="mi">100000</span><span class="p">];</span>

<span class="kt">int</span> <span class="nf">solve</span><span class="p">()</span> <span class="p">{</span>
    <span class="n">memset</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="nb">false</span><span class="p">,</span> <span class="k">sizeof</span><span class="p">(</span><span class="n">dp</span><span class="p">));</span>

    <span class="n">dp</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">=</span> <span class="nb">true</span><span class="p">;</span>
    <span class="k">for</span> <span class="p">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="n">i</span> <span class="o">&lt;</span> <span class="n">N</span><span class="p">;</span> <span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
        <span class="c1">// num[j] 記錄組出 j 需使用幾個 **A[i]** 硬幣。</span>
        <span class="n">memset</span><span class="p">(</span><span class="n">num</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="k">sizeof</span><span class="p">(</span><span class="n">num</span><span class="p">));</span>

        <span class="c1">// j 從 A[i] 開始，當然。比 A[i] 小的，不可能用 A[i] 組出。</span>
        <span class="k">for</span> <span class="p">(</span><span class="kt">int</span> <span class="n">j</span> <span class="o">=</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">];</span> <span class="n">j</span> <span class="o">&lt;=</span> <span class="n">M</span><span class="p">;</span> <span class="n">j</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// 如果 j 尚無法組出，</span>
            <span class="c1">// 且 j - A[i] 可以組出，且硬幣數量沒有超過（至少還有一枚可以用）</span>
            <span class="k">if</span> <span class="p">(</span><span class="n">dp</span><span class="p">[</span><span class="n">j</span><span class="p">]</span> <span class="o">==</span> <span class="nb">false</span> <span class="o">&amp;&amp;</span> <span class="n">dp</span><span class="p">[</span><span class="n">j</span> <span class="o">-</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">]]</span> <span class="o">&amp;&amp;</span> <span class="n">num</span><span class="p">[</span><span class="n">j</span> <span class="o">-</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">]]</span> <span class="o">&lt;</span> <span class="n">C</span><span class="p">[</span><span class="n">i</span><span class="p">])</span> <span class="p">{</span>
                <span class="n">dp</span><span class="p">[</span><span class="n">j</span><span class="p">]</span> <span class="o">=</span> <span class="nb">true</span><span class="p">;</span> <span class="c1">// j 就可以組出</span>
                <span class="n">num</span><span class="p">[</span><span class="n">j</span><span class="p">]</span> <span class="o">=</span> <span class="n">num</span><span class="p">[</span><span class="n">j</span> <span class="o">-</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">]]</span> <span class="o">+</span> <span class="mi">1</span><span class="p">;</span>
                <span class="c1">// 組出 j 的硬幣數量為組出 j - A[i] 的數量再加一。</span>
            <span class="p">}</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="n">count</span><span class="p">(</span><span class="n">dp</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">M</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="nb">true</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="id3">
<h2><a class="toc-backref" href="#id6">模板驗證</a><a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p><a class="reference external" href="http://codepad.org/ABfw2sno">poj1742</a></p>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="coin_change.html" class="btn btn-neutral float-right" title="Coin Change" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="knapsack_unbounded.html" class="btn btn-neutral" title="完全背包問題" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016, amoshyc.
      Last updated on May 12, 2016.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>