

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>LIS &mdash; amoshyc&#39;s 題解</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  

  
    <link rel="stylesheet" href="../../_static/css/mine.css" type="text/css" />
  

  
    <link rel="top" title="amoshyc&#39;s 題解" href="../../index.html"/>
        <link rel="up" title="DP" href="index.html"/>
        <link rel="next" title="TSP" href="tsp.html"/>
        <link rel="prev" title="Cutting Sticks" href="cutting_sticks.html"/> 

  
  <script src="../../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../../index.html" class="icon icon-home"> amoshyc's 題解
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../tutorials/tutorials.html">1. 常用演算法教學</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cf/cf.html">2. CF</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../poj/poj.html">3. POJ</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../uva/uva.html">4. UVA</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../ptc/ptc.html">5. PTC</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../other/other.html">6. Other</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../template.html">7. Template</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../ds/index.html">Data Structure</a></li>
<li class="toctree-l2"><a class="reference internal" href="../graph/index.html">Graph</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tree/index.html">Tree</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">DP</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="knapsack_01.html">0/1 背包問題</a></li>
<li class="toctree-l3"><a class="reference internal" href="knapsack_bounded.html">多重背包</a></li>
<li class="toctree-l3"><a class="reference internal" href="knapsack_unbounded.html">完全背包問題</a></li>
<li class="toctree-l3"><a class="reference internal" href="knapsack_bounded_bool.html">多重背包可行性</a></li>
<li class="toctree-l3"><a class="reference internal" href="coin_change.html">Coin Change</a></li>
<li class="toctree-l3"><a class="reference internal" href="cutting_sticks.html">Cutting Sticks</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">LIS</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#id1">程式碼 1</a></li>
<li class="toctree-l4"><a class="reference internal" href="#id2">程式碼 2</a></li>
<li class="toctree-l4"><a class="reference internal" href="#id3">模板驗證</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="tsp.html">TSP</a></li>
<li class="toctree-l3"><a class="reference internal" href="partition.html">分割數（整理拆分）</a></li>
<li class="toctree-l3"><a class="reference internal" href="repeat_combination.html">重複組合 H</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../math/index.html">Math</a></li>
<li class="toctree-l2"><a class="reference internal" href="../string/index.html">String</a></li>
<li class="toctree-l2"><a class="reference internal" href="../search/index.html">Search</a></li>
<li class="toctree-l2"><a class="reference internal" href="../geometry/index.html">Geometry</a></li>
<li class="toctree-l2"><a class="reference internal" href="../other/index.html">Other</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../tags.html">8. Tags</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cheatsheet.html">9. Cheatsheet</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../../index.html">amoshyc's 題解</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          

 



<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../template.html">7. Template</a> &raquo;</li>
      
          <li><a href="index.html">DP</a> &raquo;</li>
      
    <li>LIS</li>
      <li class="wy-breadcrumbs-aside">
        
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="lis">
<h1><a class="toc-backref" href="#id4">LIS</a><a class="headerlink" href="#lis" title="Permalink to this headline">¶</a></h1>
<div class="sidebar">
<p class="first sidebar-title">Tags</p>
<ul class="last simple">
<li><code class="docutils literal"><span class="pre">tag_dp</span></code></li>
<li><code class="docutils literal"><span class="pre">tag_template</span></code></li>
</ul>
</div>
<div class="contents topic" id="toc">
<p class="topic-title first">TOC</p>
<ul class="simple">
<li><a class="reference internal" href="#lis" id="id4">LIS</a><ul>
<li><a class="reference internal" href="#id1" id="id5">程式碼 1</a></li>
<li><a class="reference internal" href="#id2" id="id6">程式碼 2</a></li>
<li><a class="reference internal" href="#id3" id="id7">模板驗證</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="id1">
<h2><a class="toc-backref" href="#id5">程式碼 1</a><a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h2>
<div class="highlight-cpp"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8
9</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kt">int</span> <span class="n">N</span><span class="p">;</span>
<span class="kt">int</span> <span class="n">A</span><span class="p">[</span><span class="n">MAX_N</span><span class="p">];</span>
<span class="kt">int</span> <span class="n">dp</span><span class="p">[</span><span class="n">MAX_N</span><span class="p">];</span> <span class="c1">// dp[i] = 長度為 i + 1 的 LIS 最後一項的最小值</span>

<span class="n">fill</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">INF</span><span class="p">);</span>
<span class="k">for</span> <span class="p">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="n">i</span> <span class="o">&lt;</span> <span class="n">N</span><span class="p">;</span> <span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
    <span class="o">*</span><span class="n">lower_bound</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">])</span> <span class="o">=</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
<span class="p">}</span>
<span class="kt">int</span> <span class="n">ans</span> <span class="o">=</span> <span class="o">*</span><span class="n">lower_bound</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">])</span> <span class="o">-</span> <span class="n">dp</span><span class="p">;</span>
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="id2">
<h2><a class="toc-backref" href="#id6">程式碼 2</a><a class="headerlink" href="#id2" title="Permalink to this headline">¶</a></h2>
<div class="highlight-cpp"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7
8
9</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="kt">int</span> <span class="n">N</span><span class="p">;</span>
<span class="kt">int</span> <span class="n">A</span><span class="p">[</span><span class="n">MAX_N</span><span class="p">];</span>
<span class="kt">int</span> <span class="n">dp</span><span class="p">[</span><span class="n">MAX_N</span><span class="p">];</span> <span class="c1">// dp[i] = 長度為 i + 1 的 LIS 最後一項的最小值</span>

<span class="n">fill</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">INF</span><span class="p">);</span>
<span class="k">for</span> <span class="p">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="n">i</span> <span class="o">&lt;</span> <span class="n">N</span><span class="p">;</span> <span class="n">i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
    <span class="o">*</span><span class="n">lower_bound</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">])</span> <span class="o">=</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">];</span>
<span class="p">}</span>
<span class="kt">int</span> <span class="n">ans</span> <span class="o">=</span> <span class="o">*</span><span class="n">lower_bound</span><span class="p">(</span><span class="n">dp</span><span class="p">,</span> <span class="n">dp</span> <span class="o">+</span> <span class="n">N</span><span class="p">,</span> <span class="n">A</span><span class="p">[</span><span class="n">i</span><span class="p">])</span> <span class="o">-</span> <span class="n">dp</span><span class="p">;</span>
</pre></div>
</td></tr></table></div>
</div>
<div class="section" id="id3">
<h2><a class="toc-backref" href="#id7">模板驗證</a><a class="headerlink" href="#id3" title="Permalink to this headline">¶</a></h2>
<p><a class="reference external" href="http://codepad.org/nEGXuSYA">uva10986</a></p>
</div>
</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="tsp.html" class="btn btn-neutral float-right" title="TSP" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="cutting_sticks.html" class="btn btn-neutral" title="Cutting Sticks" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2016, amoshyc.
      Last updated on Sep 11, 2016.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../../',
            VERSION:'',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../../_static/jquery.js"></script>
      <script type="text/javascript" src="../../_static/underscore.js"></script>
      <script type="text/javascript" src="../../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>